
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 0px;
        }
        .news-item {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 15px;
            display: flex;
        }
        .news-item img {
            border-radius: 10px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 15px;
        }
        .news-content {
            flex: 1;
        }
        .news-category {
            color: black;
            font-weight: bold;
            font-size: 17px;
        }
        .news-source {
            color: gray;
            margin-left: 5px;
        }
        .news-title {
            font-size: 17px;
            font-weight: bold;
            margin: 5px 0;
        }
        .news-meta {
            color: gray;
            font-size: 14px;
        }
        .news-meta i {
            margin-right: 5px;
        }
        .news-meta span {
            margin-right: 15px;
        }